<launch>
   <!-- <arg name="cloud_topic" default="/xtion/depth/points" /> -->

  
  <!-- Start Navigation Stack -->
  <!-- <include file="$(find phoebe_navigation)/launch/phoebe_navigation.launch"/> -->
  
  <!-- Start Perception Server. It provides the location of handles -->
  <node name="perception" pkg="phoebe_perception" type="perception_node" output="screen" /> 

  <!-- demo  pick_and_place -->
  <!-- Run Pick and Place Action Servers -->
  <node name="PickNPlace" pkg="task_manager" type="ManipulaitonServers.py" output="screen" />


  <!-- Run PTU Action Server -->
  <node name="PTUServer" pkg="task_manager" type="PTUAction.py" output="screen" />
</launch>
