<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find phoebe_sim)/config/controllers_phoebe.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen"  
			args="	joint_state_controller
							dual_arm_controller			   
							left_gripper_controller
							right_gripper_controller
							ptu_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    
  </node> -->

</launch>
