<launch>
	<param name="robot_description" textfile="$(find phoebe_description)/urdf/phoebe.urdf" />
	<!--param name="use_gui" value="True"/-->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find phoebe_sim)/launch/test.rviz" required="true"  /> <!--  args="-d $(find phoebe_sim)/phoebe.rviz" required="true"-->
</launch>
