<launch>
	<param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find phoebe_description)/urdf/phoebe.urdf.xacro'" />
	
	<!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
   <!-- <param name="use_gui" value="TRUE"/>   -->
   <param name="publish_default_positions" value="false"/>
  </node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find phoebe_sim)/launch/test.rviz" required="true"  /> <!--  args="-d $(find phoebe_sim)/phoebe.rviz" required="true"-->
</launch>
