<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <param name="robot_description" textfile="$(find phoebe_description)/phoebe.urdf" />
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.0"/>
    <arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>



	<node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen"	 />
	
  <!-- start gazebo client -->
  	<group if="$(arg gui)">
    	<node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
  	</group>

	
	
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model phoebe -x $(arg x) -y $(arg y) -z $(arg z)" />
          
</launch>
